<li>
	<span class="bu-name-container">
	{{burger_name}}
	</span>
{{#if devour}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour it!
	</button>
{{/if}}

	{{!-- delete btn --}}
	{{#unless devour}}
		<button class="delete-burger" data-id="{{id}}">
		&nbsp&nbspDelete&nbsp&nbsp
	</button>
{{/unless}}
</li>
